
.idea/libraries/gradle_wrapper2.xml

.idea/dictionaries/Nabil.xml

.idea/.name

PhoneApp/FingerNinja/FingerNinja/app/app.iml

PhoneApp/FingerNinja/FingerNinja/local.properties

PhoneApp/FingerNinja/FingerNinja/.idea/workspace.xml

PhoneApp/FingerNinja/FingerNinja/.idea/libraries

PhoneApp/FingerNinja/FingerNinja/.DS_Store

PhoneApp/FingerNinja/FingerNinja/build
/Server/FingerciseServer/nbproject/private/
/Server/FingerciseServer/build/